.Footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 60px;
    background-color: rgb(7, 7, 74);
    color: white;
}
.Footer span svg{
    width: 56px;
    height: 56px;
}